server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/bankcards
    username: bankcards
    password: bankcards
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

app:
  security:
    jwt-secret: ${JWT_SECRET}